BASE_URL= 
DATABASE_URL=postgres://user:password@localhost:5432/db_name
BETTER_AUTH_SECRET=
// Use this to generate Auth_Secret "openssl rand -base64 32"
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_SECRET_KEY =
NODE_ENV=